*{
    background-color: #555050;
}
.text-centre{
    text-align: center;
    background-color: #343434;
    color: aqua;
}
.display{
    width:100% ;
    height: 150px;
    border: 2px solid black;
    font-size: 50px;
    text-align: right;
    background-color: #36454f;
    color: white;
}
.button{
      height: 70px;
      width: 70px;
      border: 2px solid black;
      border-radius: 10px;
      font-size: 20px;
      color: white;
      background-color: rgb(0, 0, 0);
      margin: 5px;
      
}
.button:hover{
    cursor: pointer;
}
#operator{
    width: 170px;
    background-color: orange;
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
}
#equal{
    width: 170px;
    background-color: aquamarine;
    font-size: 30px;
    font-weight: 700;
}
.container{
    margin-top: 20px;
    text-align: center;
}
